<div class="footer-container">
  <nav>
    <ul class="back-button">
      <li>
        <%= link_to "Vendor Page", vendors_index_path %>
      </li>
    </ul>
    <ul class="social-media">
      <li>
        <%= link_to image_tag("facebook-square.png", :alt => "facebook", :class => "css"), sessions_index_path %>
      </li>
      <li class="social-media">
        <%= link_to image_tag("twitter.png", :alt => "twitter", :class => "css"), sessions_index_path %>
      </li>
    </ul>
  </nav>
</div>
