<%= render 'shared/user_id_header' %>

<h2><%= "Let's create a new vendor for your market." %></h2>

<%= render partial: "shared/create_edit_form", locals: {action_name: "create"} %>

<%= render 'shared/mi_link' %>
