<%= render 'shared/user_id_header' %>

<h2>Edit your market profile!</h2>

<h2>Use the form below to edit your profile. When you are done, press submit!</h2>



  <%= render partial: "marketform" %>


  <%= render 'shared/footer' %>
