<%= render 'shared/user_id_header' %>

<h2>Make a new market!</h2>

<h2>Use the form below to create a new market. When you are done, press submit!</h2>



  <%= render partial: "marketform" %>

  <%= render "shared/mi_link" %>
