<%= render 'shared/user_id_header' %>

<h2>Edit your product</h2>

<p>Please edit the name of your new product in the space below. When you are finished, press submit!</p>


  <%= render partial: "productform" %>

 <%= render 'shared/vindex_footer' %>
