<%= render 'shared/user_id_header' %>
<h2>Add a new product!</h2>
<p>Please enter the name of your new product in the space below. When you are finished, press submit!</p>

<section>
  <%= render partial: "productform" %>
</section>

<%= render 'shared/vindex_footer' %>
