<!DOCTYPE html>
<html>
<head>
  <title>FarMarRailsEmilyAndBrandi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet" type= 'text/css' >
  <link href="https://fonts.googleapis.com/css?family=Gruppo" rel="stylesheet" type= 'text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
